[core]
  editor = vim
  whitespace = trailing-space,space-before-tab
[apply]
  whitespace = fix
[push]
  default = simple
[merge]
  tool = gvimdiff
[alias]
  wdiff = diff --color-words
  graph = log --graph --all --pretty=format:'%Cblue%h%Creset %s %Cgreen%d%Creset'
[fetch]
  prune = true
[color]
  ui = auto
[diff]
  renames = copy

# Include identity file (this makes it possible to specify different user for
# different machines)
[include]
  path = .config/git/identity
